smarteros_-_respuesta_autom_tica_b2b.json
{
  "name": "SmarterOS - Respuesta AutomГЎtica B2B",
  "description": "Workflow exportado desde n8n.smarterbot.cl\n\nвҡ пёҸ REQUIERE CONFIGURACIГ“N:\n- Configurar credenciales de PostgreSQL/Supabase\n- Actualizar URLs de webhooks segГәn entorno\n- Revisar nodos HTTP con autenticaciГіn",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "batchSize": 1,
        "options": {},
        "url": ""
      },
      "id": "trigger-event",
      "name": "Trigger: Nuevo Evento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "webhookId": "smarter-events-poll"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "smarter_events",
        "columns": "id,payload,lifecycle",
        "where": "lifecycle='ingested' AND payload->'data'->>'channel'='email'",
        "limit": 10,
        "options": {},
        "url": ""
      },
      "id": "fetch-events",
      "name": "Fetch Eventos Pendientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CLASIFICACIГ“N DE INTENT Y PLANTILLA\n// ============================================\n\nconst events = $input.all();\nconst responses = [];\n\nfor (const event of events) {\n  const payload = event.json.payload;\n  const email = payload.data?.email;\n  const subject = payload.data?.subject || '';\n  const intent = payload.data?.intent || 'general_inquiry';\n  const businessName = payload.data?.business_name || '';\n  \n  if (!email) continue;\n  \n  // Seleccionar plantilla segГәn intent\n  let emailSubject = '';\n  let emailBody = '';\n  \n  if (intent === 'demo_request') {\n    emailSubject = 'рҹҡҖ Tu demo de SmarterOS estГЎ lista';\n    emailBody = `Hola ${businessName || 'equipo'},\n\nВЎGracias por tu interГ©s en SmarterOS!\n\nVimos que quieres una demo de nuestro CRM con automatizaciГіn.\n\nрҹ“… **Opciones:**\n\n1. **Demo Guiada (15 min)** вҶ’ Agenda aquГӯ: https://cal.com/smarterbot/demo\n2. **Demo Auto-guiada** вҶ’ Video de 5 min: https://loom.com/smarteros-demo\n3. **ActivaciГіn Directa** вҶ’ RespondГ© este email y lo activamos ya\n\nрҹ’° **Plan recomendado: PRO**\n- CRM con Odoo incluido\n- AutomatizaciГіn de ventas\n- IntegraciГіn con email, WhatsApp, web\n- $150.000/mes\n\nВҝCuГЎl opciГіn preferГӯs?\n\nвҖ”\nEquipo SmarterOS\nhttps://smarterbot.cl`;\n  }\n  else if (intent === 'pricing_request') {\n    emailSubject = 'рҹ’° Propuesta SmarterOS - AutomatizaciГіn B2B';\n    emailBody = `Hola ${businessName || 'equipo'},\n\nGracias por consultar por nuestros planes!\n\nрҹ“Ҡ **Nuestros Planes:**\n\nв”Ңв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”җ\nв”Ӯ BГҒSICO - $50.000/mes                    в”Ӯ\nв”ңв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Ө\nв”Ӯ вҖў Captura de leads (web + email)        в”Ӯ\nв”Ӯ вҖў ValidaciГіn automГЎtica                 в”Ӯ\nв”Ӯ вҖў Registro en PostgreSQL                в”Ӯ\nв”Ӯ вҖў Soporte bГЎsico                        в”Ӯ\nв””в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”ҳ\n\nв”Ңв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”җ\nв”Ӯ PRO - $150.000/mes вӯҗ RECOMENDADO       в”Ӯ\nв”ңв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Ө\nв”Ӯ вҖў Todo lo del BГЎsico +                  в”Ӯ\nв”Ӯ вҖў CRM en Odoo                           в”Ӯ\nв”Ӯ вҖў Scoring de leads                      в”Ӯ\nв”Ӯ вҖў Pipeline de ventas                    в”Ӯ\nв”Ӯ вҖў IntegraciГіn WhatsApp                  в”Ӯ\nв””в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”ҳ\n\nв”Ңв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”җ\nв”Ӯ ENTERPRISE - $300.000/mes               в”Ӯ\nв”ңв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Ө\nв”Ӯ вҖў Todo lo del Pro +                     в”Ӯ\nв”Ӯ вҖў DTE automГЎtico (facturaciГіn)          в”Ӯ\nв”Ӯ вҖў Onboarding con Picoclaw               в”Ӯ\nв”Ӯ вҖў Auto-learning                         в”Ӯ\nв”Ӯ вҖў Analytics avanzado                    в”Ӯ\nв”Ӯ вҖў Soporte prioritario 24/7              в”Ӯ\nв””в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”ҳ\n\nрҹҺҜ **ВҝCuГЎl se ajusta mГЎs a tu necesidad?**\n\nRespondГ© este email y te ayudo a activarlo.\n\nвҖ”\nEquipo SmarterOS\nhttps://smarterbot.cl`;\n  }\n  else if (intent === 'enterprise_inquiry') {\n    emailSubject = 'рҹҸў SmarterOS Enterprise - Contacto Directo';\n    emailBody = `Hola ${businessName || 'equipo'},\n\nВЎExcelente! Veo que estГЎs interesado en nuestra soluciГіn Enterprise.\n\nрҹҺҜ **Para empresas que buscan:**\n- AutomatizaciГіn completa\n- FacturaciГіn electrГіnica (DTE)\n- MГәltiples canales (web, email, WhatsApp, Telegram)\n- Analytics en tiempo real\n- Soporte prioritario\n\nрҹ’ј **Plan Enterprise: $300.000/mes**\n\nIncluye:\n- Todo lo del Plan Pro\n- DTE automГЎtico (SII)\n- Onboarding personalizado\n- Auto-learning (mejora continua)\n- Dashboard analytics\n- Soporte 24/7\n\nрҹ“һ **ВҝAgendamos una llamada de 15 min?**\n\nCalendario: https://cal.com/smarterbot/enterprise\n\nO respondГ© este email con tu horario preferido.\n\nвҖ”\nEquipo SmarterOS\nhttps://smarterbot.cl`;\n  }\n  else {\n    emailSubject = 'рҹ‘Ӣ Gracias por contactar SmarterOS';\n    emailBody = `Hola ${businessName || 'equipo'},\n\nВЎGracias por tu mensaje!\n\nрҹӨ– **SmarterOS** es tu asistente de automatizaciГіn B2B.\n\nрҹ“Ң **Te ayudo con:**\n- Captura automГЎtica de leads\n- CRM con Odoo\n- AutomatizaciГіn de ventas\n- IntegraciГіn con email, WhatsApp, web\n- FacturaciГіn electrГіnica (DTE)\n\nрҹ’¬ **ВҝEn quГ© puedo ayudarte?**\n\nRespondГ© este email y te asisto.\n\nвҖ”\nEquipo SmarterOS\nhttps://smarterbot.cl`;\n  }\n  \n  responses.push({\n    json: {\n      event_id: event.json.id,\n      to: email,\n      subject: emailSubject,\n      body: emailBody,\n      intent: intent\n    }\n  });\n}\n\nreturn responses;",
        "url": ""
      },
      "id": "classify-intent",
      "name": "Clasificar Intent y Preparar Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailgun.net/v3/smarterbot.cl/messages",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "SmarterOS <no-reply@smarterbot.cl>"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "text",
              "value": "={{ $json.body }}"
            },
            {
              "name": "h:Reply-To",
              "value": "hola@smarterbot.cl"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Enviar Email de Respuesta (Mailgun)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "smarter_events",
        "updateKey": "id",
        "updateValue": "={{ $json.event_id }}",
        "columns": "lifecycle,decided_at",
        "options": {},
        "url": ""
      },
      "id": "update-event",
      "name": "Actualizar Evento a Respondido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Trigger: Nuevo Evento": {
      "main": [
        [
          {
            "node": "Fetch Eventos Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Eventos Pendientes": {
      "main": [
        [
          {
            "node": "Clasificar Intent y Preparar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Intent y Preparar Email": {
      "main": [
        [
          {
            "node": "Enviar Email de Respuesta (Mailgun)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email de Respuesta (Mailgun)": {
      "main": [
        [
          {
            "node": "Actualizar Evento a Respondido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Trigger: Nuevo Evento": {
      "recurrenceRules": []
    }
  },
  "pinData": null,
  "versionCounter": 7,
  "triggerCount": 1,
  "tags": []
}
